.wrapper{
    background-color: #f9f9f9;
    width: 100%;
    height: 100lvh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

    .rowSpanInit {
        grid-row: span 2;
        grid-column: span 1;
        @media (max-width: 767px) {
          grid-column: span 2;
          grid-row: span 1;
        }
    }
    .colSpanInit {
        grid-row: span 1;
        grid-column: span 2;
        @media (max-width: 767px) {
          grid-column: span 1;
          grid-row: span 1;
        }
      }
      .profileCard{
        .profile{
          height: 80%;
        }
        .expDetails{
          height: 20%;
        }
      }
}

.slider{
  .sliderImageContainer{
    width: 100%;
    overflow: hidden;
    .sliderImage{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}
}