@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #6c757d; /* Slate Gray */
  --secondary-color: #ffffff; /* White */
  --tertiary-color: #add8e6; /* Light Blue */

  /* Additional colors if needed */
  --background-color: #f8f9fa; /* Off white */
  --text-color: #333333; /* Dark Gray */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
