.container{
    position: relative;
    overflow: hidden auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    height: 100vh;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }

    .ghostButton {
        position: relative;
        display: inline-block;
        overflow: hidden;
        padding: 10px 20px;
        border: 2px solid black;
        color: var(--text-color, black);
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s ease-out;
      
        &:hover {
          color: #ffffff;
        }
      
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background: var(--hover-bg, black);
          transition: width 0.3s ease-out;
          z-index: -1;
        }
      
        &:hover::before {
          width: 100%;
        }
      }
}