    .avatarOnHover {
      .techStack {
        .techStackItem {
          width: 30px !important;
          height: 30px !important;
          transform: translate(0, 0) scale(0);
          transition: transform .5s ease-out, opacity .2s ease-out;
        }
      }
    
      &:hover .techStack {
        opacity: 1; /* Make the .techStack visible on hover */
      }
    
      &:hover .techStack .techStackItem:nth-child(1) {
        transform: translate(-350%, -50%) scale(1.2);
      }
    
      &:hover .techStack .techStackItem:nth-child(2) {
        transform: translate(-280%, -380%) scale(1.2);
      }
    
      &:hover .techStack .techStackItem:nth-child(3) {
        transform: translate(-450%, 250%) scale(1.2);
      }
    
      &:hover .techStack .techStackItem:nth-child(4) {
        transform: translate(260%, -50%) scale(1.2);
      }
    
      &:hover .techStack .techStackItem:nth-child(5) {
        transform: translate(-20%, -380%) scale(1.2);
      }
    
      &:hover .techStack .techStackItem:nth-child(6) {
        transform: translate(-20%, 250%) scale(1.2);
      }
    }
    

  





