.wrapper{
    text-align: left;
    color: black;
    font-family: "Courier New", Courier, monospace;
    font-size: 2.5em;
    @media (max-width: 767px) {
        font-size:1.3rem;
      }
    .typewrite > .wrap {
        border-right: 0.08em solid white;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}