.container{
    width: 100%;
    height: 100lvh;
    position: relative;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .avatarOnHover {
      position: relative;
    
      .avatar {
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 20px;
        cursor: pointer;
    
        .avatarPhoto {
          z-index: 999;
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    
      .techStack {
        display: flex;
        position: absolute;
        z-index: -999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.5s ease-out;
    
        .techStackItem {
          width: 30px !important;
          height: 30px !important;
          transform: translate(0, 0) scale(0);
          transition: transform .5s ease-out, opacity .2s ease-out;
        }
      }
    
      &:hover .techStack {
        opacity: 1; /* Make the .techStack visible on hover */
      }
    
      &:hover .techStack .techStackItem:nth-child(1) {
        transform: translate(-350%, -50%) scale(1.2);
      }
    
      &:hover .techStack .techStackItem:nth-child(2) {
        transform: translate(-280%, -380%) scale(1.2);
      }
    
      &:hover .techStack .techStackItem:nth-child(3) {
        transform: translate(-450%, 250%) scale(1.2);
      }
    
      &:hover .techStack .techStackItem:nth-child(4) {
        transform: translate(260%, -50%) scale(1.2);
      }
    
      &:hover .techStack .techStackItem:nth-child(5) {
        transform: translate(-20%, -380%) scale(1.2);
      }
    
      &:hover .techStack .techStackItem:nth-child(6) {
        transform: translate(-20%, 250%) scale(1.2);
      }
    }
    
    
    p{
        font-size: 2rem;
        font-weight: 1000;
    }

    .socials{
        padding: 20px 0;
        font-size: 1.2rem;
        display: flex;
        justify-content: space-between;
        width: 100px;
    }
    .hireButton {
        position: relative;
        display: inline-block;
        overflow: hidden;
        padding: 10px 20px;
        border: 2px solid black;
        color: var(--text-color, black);
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s ease-out;
      
        &:hover {
          color: #ffffff;
        }
      
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background: var(--hover-bg, black);
          transition: width 0.3s ease-out;
          z-index: -1;
        }
      
        &:hover::before {
          width: 100%;
        }
      }
    
}





